<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
  <body>
  <div id='flash' class='message'>
 <a class="close" data-dismiss="alert">&#215;</a>
 <%= flash[:message] %>
</div>
        <div class="transbox">
            <br><br><h1>Sign Up!</h1><br>
        <form method="POST" action="/users/signup">
            <h4><label for="username">Username:</label></h4>
            <input id="username" type="text" name="username"><br><br>
            <h4><label for="email">Email:</label></h4>
            <input id="email" type="email" name="email"><br><br>
            <h4><label for="password">Password:</label></h4>
            <input id="password" type="password" name="password"><br><br>
            <button class="btn btn-success btn-lg" type="submit" value="Sign Up">Sign Up</button>
        </form>
        </div>
  </body>
