<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
  <body>
        <div class="transbox">
            <br><br><h1>Edit Plant</h1><br>
            <form method="POST" action="/plants/<%= @plant.id%>">
            <input type="hidden" name="_method" value="put">

            <h2><label for="name">Name:</label></h2><input id="name" type="text" name="name"><br><br>
            <h4><label for="num_water_day">Water every <input id="" type="number" min="1" max="30" name="num_water_day" required> days.</label></h4>
            <h4><label for="num_fert_day">Fertilize every <input id="" type="number" min="1" max="30"  name="num_fert_day"> days.</label></h4>
            <h4><label for="num_prune_day">Prune every <input id="" type="number" min="1" max="30"  name="num_prune_day"> days.</label></h4><br>
 
            <h2>Plant Location:</h2><label for="location_id"></label>
            <input id="location_id" type="text" name="location_id"><br><br>
            <h2>Your Name:</h2>
            <label for="user_id"></label>
            <input id="user_id" type="text" name="user_id"><br><br>
            <h6>Suggestions: Bedroom, Hallway, Kitchen, Living Room, Office, Balcony, Patio</h6><br><br>
            <button class="btn btn-success btn-lg" type="submit" value="Add Plant">Add Plant</button><br><br>
            <a href="/plants/index" type="button" class="btn btn-primary btn-lg">My Plants</a>
            </form><br>

            <form action=<%= "/plants/#{@plant.id}" %> method="POST">
                
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-success">Delete Plant</button><br>
            </form><br> 
        </div>
</body>

