<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
  <body>
    <section>
        <div class="transbox">
        <br><br><h1>My Plants!</h1><br>
          <% @plants.each do |plant| %>
          <% p = plant.created_at %>
          <h4><%= p.strftime ("%B %e, %Y") %></h4>
          <h4><%= plant.name %></h4>
          <h6><a href="/plants/<%=plant.id%>">click to see todos</a></h6><br>
          <%end%>

        <a href="/locations/new" type="button" class="btn btn-success btn-lg">Add Locations</a><br><br>
        <a href="/plants/new" type="button" class="btn btn-success btn-lg">Add Plants</a><br><br>
        <a href="/users/logout" type="button" class="btn btn-success btn-lg">Log Out</a>
        </div>
    </section>
  </body>