<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
  <body>
        <div class="transbox">
            <br><h1>Add Plant</h1>
            <form method="POST" action="/plants">

            <h2><label for="name">Name of Plant:</label></h2>
            <input type= "text" name= "plant[name]"><br><br>

            <h4><label for="num_water_day">Water every <input id="" type="number" min="1" max="30" name="plant[num_water_day]"> days.</label></h4>
            <h4><label for="num_fert_day">Fertilize every <input id="" type="number" min="1" max="30"  name="plant[num_fert_day]"> days.</label></h4>
            <h4><label for="num_prune_day">Prune every <input id="" type="number" min="1" max="30"  name="plant[num_prune_day]"> days.</label></h4><br>
            
            <h2>Plant Location:</h2>
            <% Location.all.each do |type| %>
            <input type="radio" name="plant[location_id]"
            value="<%=type.id%>"><%=type.name%></input>
            <% end %><br><br>
            
            <button class="btn btn-success btn-lg" type="submit" value="Add Plant">Add Plant</button><br><br>
            <a href="/plants/index" type="button" class="btn btn-primary btn-lg">My Plants</a>
            </form>
        </div>
  </body>

