<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
  <body>
        <div class="transbox">
            <form action="/locations" method="POST"><br><br>
                <h1>Add a Location!</h1><br>
                    <h4><label for="location name">Location Name:</label></h4>
                    <input id="name" type="text" name="name" required><br><br><br>
                <h2>Suggestions:</h2><br>
                <ul>
                    <h5><li>Bedroom</li></h5>
                    <h5><li>Hallway</li></h5>
                    <h5><li>Kitchen</li></h5>
                    <h5><li>Living Room</li></h5>
                    <h5><li>Office</li></h5>
                    <h5><li>Balcony</li></h5>
                    <h5><li>Patio</li></h5><br><br>
                    <button class="btn btn-success btn-lg" type="submit" value="Add Location">Add Location</button><br><br><br>
            </form>
        </div>
  </body>